/*------------------------------------
  Modal Window
------------------------------------*/

.u-modal-window {
  display: none;
  max-height: $modal-window-max-height;
}

.u-modal-window-custom {
	visibility: hidden !important;
	height: 0 !important;

	.card {
		visibility: visible;
		height: auto;
		display: block;
	}
}