/*------------------------------------
  Form
------------------------------------*/

.custom-select:focus,
.form-control:focus {
  box-shadow: $form-focus-box-shadow;
  border-color: $form-focus-border-color;
}

.form-control.text-white::placeholder {
    color: $form-placholder-color;
}

.form-control.hero-form::placeholder {
    color: $black;
}

.form-label {
  display: block;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 500;
}

/* Form Borderless */
.input-group-borderless {
    .form-control,
    .input-group-text,
    .form-control,
    button,
    .btn {
        border: none;

        &:focus {
            box-shadow: none;
        }
    }
}

/* Form Transpatent */
.input-group-tranparent {
    .form-control,
    button,
    .btn {
        background-color: transparent;
    }

    .form-control:focus {
        &,
        + .input-group-append button {
            background-color: rgba( $white, .3 ) !important;
        }
    }
}

.tab-pane{
    select {
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    }
}