/*------------------------------------
  Slick
------------------------------------*/

.u-slick {
	position: relative;
}

// Disable transform effect
.u-slick--transform-off {
	&.slick-transform-off .slick-track {
		transform: none !important;
	}
}

.u-slick-bordered {

	.slick-current {

		.card {
			border-color: $primary !important;

			.testimonial-quote {

				text,
				path {
					fill: $primary;
				}

				i {
					color: $primary;
				}
			}
		}
	}
}

.u-slick-bordered-dark {

	.slick-current {

		.card {
			border-color: #1a2b49 !important;

			.testimonial-quote {

				text,
				path {
					fill: #1a2b49;
				}

				i {
					color: #1a2b49;
				}
			}
		}
	}
}


.testimonial-quote {

	text,
	path {
		fill: #ebf0f7;
	}

	i {
		color: #ebf0f7;
	}
}