/*------------------------------------
  Text Colors
------------------------------------*/

.text-white-70 {
	color: $white-color-70;

	&[href]:hover {
		color: $white-color-hover;
	}
}

.text-gray-1 {
	color: $gray-1;
}

.text-gray-4 {
    color: $gray-4;
}

.text-blue {
	color: $dark-blue;
}

.text-pink {
    color: $pink;
}

.text-orange {
    color: $soft-orange;
}

.text-space-orange {
    color: $space;
}

.text-curious {
    color: $curious-blue;
}
.text-primary-max {
    @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        &#{$infix} {
            @include media-breakpoint-down($breakpoint) {
                color: $primary;
            }
        }
    }
}

.text-gray-5 {
    color: $gray-5;
}

.text-black {
    color: $black;
}

.star-rating-color {
    color: $rating-star;
}

.bg-sapphire {
    background-color:$sapphire;
}